{% extends 'base.html' %}
{% block content %}

<h1>Here are all of your records:</h1>
<hr />

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s6">
                <span class="card-title">
                    <!-- <p>Artist: {{record.artist}}</p> -->
                    <p>Title: {{record.title}}</p>
                    <p>Year: {{record.year}}</p>
                    <p>Genre: {{record.genre}}</p>
                </span>
            </div>

            <!-- added artists  -->
            <div class="col s6">
                <table>
                    <thead>
                        <tr>
                            <th>Arist</th>
                            <th>Members</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in record.artists.all %}
                        <tr>
                            <td>{{a.name}}</td>
                            <td>{{a.members}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-action">
            <a href="{% url 'records_update' record.id %}">Edit</a>
            <a href="{% url 'records_delete' record.id %}">Delete</a>
        </div>
    </div>
</div>

<hr />

<!-- select artist -->

<div class="row">
    <div class="col s5">
        <div class="card">
            <div class="card-content">
                {% for a in artist %}
                <form action="{% url 'assoc_artist' record.id %}" method="POST">
                    {% csrf_token %}
                    <select name="artist-select" id="artist-select">
                        <option value="" disabled="true" selected>Choose An Artist</option>
                        {% for item in artist %}
                        <option value="{{item.id}}">{{item.name}}</option>
                        {% endfor %}
                    </select>
                    {% endfor %}
                    <input type="submit" class="btn" value="submit">
                </form>
            </div>
        </div>
    </div>



    <div class="col s1">

        <h4>OR</h4>
    </div>

    <!-- Add artist  -->
    <div class="col s5">
        <div class="card">
            <div class="card-content">
                <h6>Create an Artist</h6>
                <!-- add artist form -->
                <form action="{% url 'add_artist' record.id %}" method="post">
                    {% csrf_token %}
                    {{ artist_form.as_p }}
                    <input type="submit" class="btn" value="Add Artist">
                </form>
            </div>
        </div>
    </div>
</div>



</div>
<hr />
<!-- Format section -->

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Formats that you own</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in record.format_set.all %}
                        <tr>
                            <td>
                                <form action="{% url 'delete_format' record.id f.id %}" method="post">
                                    {% csrf_token %}
                                    {{ f.get_format_display }}
                                    <input type="submit" class="btn red right delete" value="x">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <form action="{% url 'add_format' record.id%}" method="post">
                    {% csrf_token %}
                    {{ format_form.as_p }}
                    <input type="submit" class="btn" value="Add Format">
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    var selectEl = document.getElementById('artist-select');
    M.FormSelect.init(selectEl);

    var selectElFormat = document.getElementById('id_format');
    M.FormSelect.init(selectElFormat);
</script>

{% endblock %}